.map {
    margin-top: 25px;
    padding: 1rem;
    /* width: 100%; */
    height: 510px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
    height: 100%;
}

.info-container {
    width: 150px;
}

.info-flag {
    width: 100px;
    height: 80px;
    background-size: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.info-flag img {
    width: 100%;
    border-radius: 5px;
}

.info-country {
    margin-bottom: 8px;
}

.info-country span {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 3px solid #333;
    padding-bottom: 3px;
}