.table-block {
    height: 450px;
    overflow: scroll;
    margin-bottom: 25px;
}

.tb-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5px;
    padding: 3.5px;
    
}

.tb-row:nth-child(odd) {
    background-color: #e84393;
    color: #fff;
}